
body.dark{
    background-color: #1f1f1f;
    color: white;
    
}

.toggle-container{
    position: fixed;
    top:100px;
    right: 10px;
}


body.dark label {
    /* background-color: white; */
    font-size: large;
}

input{
    visibility: float;
    
}

#download{
    position:absolute;
    right:5px;
    bottom:5px;
}
#previousDownloads{
    /* display: none; */
    padding: 5px;
    margin: 5px;
    right:5px;
    /* border: 1px solid green; */
}