#cart{
    max-width: 900px;
    margin: 0 auto;
    font-size: 22px;
}

#cart h2{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.cart-row{
    font-size: 18px;
    display: flex;
}
.cart-header{
    font-size: 1.2rem;
    font-weight: bold;

}
.cart-item{
    width: 45%;
}
.cart-img{
    width: 80px;
    border-radius: 8%;
    margin-right: 20px;
}

.cart-price{
    width:20%;
}

.cart-quantity{
    width:35%;

}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5rem;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width: 40px;
    height: 30px;
    border: 1px solid cyan;
    border-radius: 8%;
    outline: none;
    text-align: center;
    margin-right: 20px;

}
.cart-total{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.3rem;
    margin: 20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size: 1.5rem;
}